<?xml version="1.0" encoding="UTF-8"?>

<plugin title="Custom Authentication Plugin" name="custom-authentication-plugin">

   <lifecycle-listener class="org.pentaho.custom.authentication.provider.CustomPluginLifecycleListener"/>
   
   <static-paths>
   
   </static-paths>

   <menu-items/>

   <overlays/>

   <content-types/>

</plugin>

